.categories {
  display: flex;
  gap: 14px;
  list-style: none;
    li{

        padding: 5px 19px;
        background:  #1C508DFF;
        border-radius: 19px;
        //box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
        &:hover{
          background-color: rgba(28, 81, 141, 0.568);
        }
    }

  & a {
    background: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFFFF;
  }
}
