.li-imagenes-cartelera img{
    width: 200px;
    height: auto;
    gap: 80px;
}

.li-imagenes-cartelera{
    list-style: none;
    width: 284px; 
    font-family: Inter; 
    font-size: 18px; 
    line-height: 28px; 
    color: #171A1FFF;
}